.button button{
    background-color: white;
    border: none;
    color: green;
}
li{
    border-left: none;
    border-right: none;
    
}

.tweet{
    padding-bottom: 1%;
    padding-top: 1%;
}

.sm{
    font-size: x-large;
}