<h1>Change Password!</h1>
<div id="forgot-form-wrap">
<div id="forgot-form" class="container">
    <div *ngIf='errormessage' class="alert alert-warning">
        {{errormessage}}
    </div>
    <div *ngIf='message' class="alert alert-success">
        {{message}}
    </div>
    <form (ngSubmit)="!forgotForm.invalid && forgotPassword()" #forgotForm="ngForm">
        <div class="form-group row">
            <label for="userName" class="col-sm-6 col-form-label">Login ID</label>
            <input type="text" style="width: 50%;" class="form-control" name="userName" placeholder="Enter Login ID" required="required"
                [(ngModel)]="userName">
        </div>
        <div class="form-group row" >
            <label for="newpassword" class="col-sm-6 col-form-label">New Password</label>
            <input type="password" style="width: 50%;" class="form-control" name="newPassword" placeholder="Enter New Password"
                required="required" [(ngModel)]="newPassword">
        </div>
        <div class="form-group row">
            <label for="c_newpassword" class="col-sm-6 col-form-label">Confirm New Password</label>
            <input type="password" style="width: 50%;" class="form-control" name="c_newpassword" placeholder="Confirm New Password"
                required="required" [(ngModel)]="c_newPassword" pattern="{{newPassword}}">
        </div>
        <div class="form-group row">
            <label for="securityKey" class="col-sm-6 col-form-label">Security Key</label>
            <input type="text" style="width: 50%;" class="form-control" name="securityKey" placeholder="Security Key"
                required="required" [(ngModel)]="securityKey" pattern="{{securityKey}}">
        </div>

        <button type="submit" class="btn btn-success">Update Password</button>
    </form>
</div>
</div>