/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");



.m-icons{
    
    display: inline-flex;
    vertical-align:middle;
    
}
ngx-avatar{
    display:inline-block;
    vertical-align:middle;
}
#tweet{
  border: 2px solid #ffffff;
    font-size: 130%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}
#tweet:hover{
  border-radius: 25px;
  border: 2px solid #73AD21;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  
 
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}
#talkbubble {
    width: 350px;
    min-height: 120px;
    background: rgb(205, 245, 184);
    position: relative;
    padding-left: 5%;
    padding-right: 2%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.9em;
  }
  #talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    
    border-top: 13px solid transparent;
    border-right: 26px solid  rgb(205, 245, 184);

    border-bottom: 13px solid transparent;
  }
  
  
  #lis{
    min-height: 50px;
    border-bottom: 0px;
  }