<br>
<h1>
    <!-- <span class="avatar avatar-16 bg-success text-white rounded-circle">  Welcome      </span> -->
    <span>Welcome </span>
    <button class="btn btn-outline-primary" (click)=searchInfo(content)>
        <h1>
            <ngx-avatar bgColor="green" fgColor="white" size="40" name="{{name}}"></ngx-avatar>&nbsp;{{name}}! <span
                class="material-icons m-icons">
                info
            </span>
        </h1>
    </button>
</h1>


<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">
            <ngx-avatar bgColor="green" fgColor="white" size="40" name="{{name}}"></ngx-avatar>&nbsp;{{name}}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li id="lis" class="list-group-item box pull-right reply">
                <a>Full Name: </a>
                <a class="text-muted">
                    {{user.FirstName}} {{user.LastName}}
                </a>
            </li>
            <li id="lis" class="list-group-item box pull-right reply">
                <a>Email Id: </a>
                <a class="text-muted">
                    {{user.Email}}
                </a>
            </li>
            <li id="lis" class="list-group-item box pull-right reply">
                <a>Contact Number: </a>
                <a class="text-muted">
                    {{user.ContactNumber}}
                </a>
            </li>

        </ul>
        <br>
        <br>
        <div class="text-end">
            <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
        </div>
    </div>
</ng-template>


<div class="container texted">
    <div class="form-group">
        <textarea id="tweetDesc" class="form-control" rows="6" maxlength="144" placeholder="What's going on your mind?"
            [(ngModel)]="tweetbody"></textarea>
        <span class="addfield" *ngIf="tweetbody.length>0"><small>{{144-tweetbody.length}} of 144 Characters
                Left</small></span>
    </div>
    <!-- <div class="form-group">
        <textarea class="form-control" rows="2" maxlength="50" placeholder="Add tags (Optional)"
            [(ngModel)]="tags"></textarea>
    </div> -->
    <div *ngIf=tweetInValid class="alert alert-warning">{{messageForTweet}}
    </div>
    <div>
        <button class="btn btn-success" (click)=postTweet()>Post Tweet</button>
    </div>
</div>

<h1>My Tweets</h1>
<br>


<div class="container tweet">
    <div *ngIf='tweetsToShow'>
        <div class="text-center ms-5 me-3 my-3">

            <div class="d-flex  align-items-center">
                <i class="fa fa-twitter" style="font-size:48px;color:#D3D3D3"></i>
                &nbsp;
                <h2 style="color: #D3D3D3;" class="d-inline"><strong> You have no tweets</strong></h2>
            </div>

        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let tweet of tweets">
            <div id="tweet">
                <h5 class="semibold ellipsis nm" style="display:inline ;">
                    <ngx-avatar bgColor="green" fgColor="white" size="35" name="{{name}}"></ngx-avatar>
                    &nbsp;{{tweet.userName}}
                </h5>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><small
                    class="text-muted">{{tweet.TweetTime | date : 'dd MMM yyyy, h:mm a'}}</small>
                <p class="nm">{{tweet.TweetBody}}</p>
                <br>

                <ngb-accordion #acc="ngbAccordion">
                    <ngb-panel title="Simple">
                        <ng-template ngbPanelHeader>
                            <div class="button">
                                <button (click)="updateTweet(tweet.uniqueId,tweet.TweetBody)"><i
                                        class="material-icons">edit</i></button>
                                <button (click)="setLikes(tweet.id)"><i
                                        [ngClass]="((tweet.LikedUser).includes(name))?'material-icons':'material-icons-outlined'">thumb_up</i><small
                                        placement="bottom" ngbTooltip="{{tweet.LikedUser}}"
                                        class="badge badge-success badge-pill">
                                        <ng-container *ngIf="(tweet.LikesCount!=0)">{{tweet.LikesCount}}</ng-container>
                                    </small></button>

                                <!-- <button ><i class="material-icons">comment</i></button> -->

                                <button (click)="openComment(tweet.id)"><i
                                        class="material-icons-outlined">add_comment</i></button>
                                <button (click)="deleteTweet(tweet.uniqueId)"><i
                                        class="material-icons">delete</i></button>
                                <button ngbPanelToggle placement="top" ngbTooltip="View All Replies"><i class="material-icons">comment</i></button>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <ul class="list-group">

                                <li class="list-group-item box pull-right reply"
                                    *ngFor="let tweetreply of tweet.TweetReply">
                                    <div id="talkbubble">
                                        <a *ngIf="!(name===tweetreply.userName)"
                                            routerLink="/tweets/{{name}}/user/{{tweetreply.userName}}">
                                            <h5>
                                                <ngx-avatar bgColor="green" fgColor="white" size="30"
                                                    name="{{tweetreply.userName}}"></ngx-avatar>
                                                &nbsp;{{tweetreply.userName}}
                                            </h5>
                                        </a>
                                        <a *ngIf="name===tweetreply.userName" routerLink="/tweets/{{name}}/home">
                                            <h5>
                                                <ngx-avatar bgColor="green" fgColor="white" size="30"
                                                    name="{{tweetreply.userName}}"></ngx-avatar>
                                                &nbsp;{{tweetreply.userName}}
                                            </h5>
                                        </a>
                                        <p class="nm">{{tweetreply.Reply}}</p>
                                        <small class="text-muted">{{tweetreply.ReplyTime | date : 'dd MMM yyyy, h:mm
                                            a'}}</small>
                                    </div>
                                </li>

                            </ul>
                        </ng-template>

                    </ngb-panel>
                </ngb-accordion>


            </div>


        </li>
    </ul>
</div>